body{
    box-sizing: border-box;
    background-color: #fff7c9;
    margin-top: 50px;
  }
  .text{
    width: 200px;
    margin-left: 160px;
    margin-top: -149px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
    color: rgba(65, 3, 112, 0.748);
}
.header{
    margin-top: -57px;
}
.text2 h2{
    background-image: linear-gradient(black, rgb(229, 84, 108),rgb(100, 244, 120));

    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    font-size: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center ;
    margin-top: -5px;
    text-decoration: wavy;
    
}
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    
  }
  
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    float: right;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: right;
    width: 16.6%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }