body{
    width: 100%;
    min-height: 120vh;
    background-size: cover;
    background-position: center;
    background-color: #fff7c9;
    padding: 10px 8px;
    
}
.hii{
    margin-top: -956px;
}
.hello{
    margin-top: 140px;
    border-color: rgb(3, 3, 78);
    margin-left: 90px;
    border-radius: 30px;
    width: 83%;
    height:380px ;
    background: linear-gradient(rgb(243, 4, 4),#f47b03);
}
.text{
    width: 200px;
    margin-left: 160px;
    margin-top: -149px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
    color: rgba(65, 3, 112, 0.748);
}
nav{
    width: 1450px;
    margin-top: 62px;
    background:transparent
}
.navbar{
    font-family: Times New 'Times New Roman';
    padding-left: 34px;
}

.navdiv{
    display: flex;
    justify-content: flex-end;
}

ul{
    margin-top: -130px;
    margin-right: 45px;
}

li{
    list-style: none;
    display: inline-block;
}

li a {
    color: rgba(4, 98, 24, 0.99);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-right: 20px;
}
.text2 h2{
    background-image: linear-gradient( red ,blue,violet);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center ;
    margin-top: -5px;
    text-decoration: wavy;
    animation: 2s text infinite;

}
@keyframes text{
    from{
        background-image: linear-gradient( red ,blue,violet);
    }
    to{
        transform: translate(60px);
        background-image: linear-gradient(rgb(53, 3, 70),rgb(250, 7, 238),rgb(6, 216, 239));
    }
    
}
.Box{
    margin: 30px;
    border: 20px;
    width: 70%;
    height: 20px;
    margin-top: 640px;
    padding: 19px;
    padding-top: 5px;
    padding-bottom: 15px ;
    border-radius: 10px;
    margin-left: 335px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}
.Box p::first-letter{
    font-size: 40px;
    color: rgb(220, 7, 7);
}
.Box p::selection{
    background-color: rgb(118, 5, 5);
    color: rgb(246, 246, 7);
}
.chicken {
    margin: 30px;
    margin-left: 40px;
    border: 20px;
    width: 15%;
    height: 305px;
    padding: 13px;
    padding-top: 11px;
    padding-bottom: 11px ;
    border-radius: 20px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellow;
    border-color: rgb(54, 2, 54);
    background-color: rgb(6, 124, 228);
    transition: 2s;
    transition-timing-function: ease-in-out;
}
.chicken :hover{
    transform: scale(1.2) translate(-7px);
}
.mutton{
    margin-right: 680px;
    margin-top:30px ;
    border: 20px;
    width: 15%;
    height: 305px;
    padding: 13px;
    padding-top: 11px;
    padding-bottom: 11px ;
    border-radius: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellow;
    border-color: rgb(54, 2, 54);
    background-color: rgb(6, 124, 228);
    transition: 2s;
    transition-timing-function: ease-in-out;
}
.mutton :hover{
    transform: scale(1.2) translate(6px,20px);
}

.egg {
    margin-right: 400px;
    margin-top:-325px ;
    border: 20px;
    width: 15%;
    height: 305px;
    padding: 13px;
    padding-top: 11px;
    padding-bottom: 11px ;
    border-radius: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellow;
    border-color: rgba(143, 5, 5, 0.871);
    background-color: rgb(6, 124, 228);
    transition: 2s;
    transition-timing-function: ease-in-out;
}
.egg :hover{
    transform: scale(1.2) rotate(6deg);
}

.cic{
    margin-top: -325px;
    margin-right: -540px;
    border: 20px;
    width: 18%;
    height: 305px;
    padding: 13px;
    padding-top: 11px;
    padding-bottom: 11px ;
    border-radius: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellow;
    border-color: rgb(54, 2, 54);
    background-color: rgb(6, 124, 228);
    transition: 2s;
    transition-timing-function: ease-in-out;
}
.cic :hover{
    transform: scale(1.2) rotate(-6deg);
}


.foll2{
    
        margin-left: 250px;
        margin-top: -26px;
        font-size: 28px;
        color: rgb(4, 71, 48);
    
}
.foll2 a{
    color: rgba(19, 87, 2, 0.845);
    font-family:Georgia, 'Times New Roman', Times, serif
    font-size: 15px;
    
}
.ph{
    
    margin-left: 435px;
    margin-top: -33px;
    font-size: 28px;
    color: rgb(34, 3, 83);

}
.ph a{
color: rgba(19, 44, 88, 0.845);
font-family:Georgia, 'Times New Roman', Times, serif
font-size: 15px;

}

.btn {
    
    width: 7%;
    height: 25px; 
    background: #162938;
    border-radius: 100px;
    cursor: pointer;
    font-size: small;
    color: #fff;
    font-weight: 200;
    margin-left: -240px;
    margin-top: 20px;
   
}
.btn2{
    width: 7%;
    height: 25px; 
    background: #162938;
    border-radius: 100px;
    cursor: pointer;
    font-size: small;
    color: #fff;
    font-weight: 200;
    margin-left: 940px;
    margin-top: 20px;
}
.bottom h2{
    margin-left: 65px;
    margin-top: 5px;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}
.bottom ul{
    margin-left: 25px;
    margin-top: 25px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:  rgb(25, 7, 105);
}
.bottom2 h2{
    margin-left: 308px;
    margin-top: -168px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
.bottom2 ul{
    margin-left: 265px;
    margin-top: 0px;
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(25, 7, 105);
}
.foll{
    margin-left: 105px;
    margin-top: -114px;
}
.follow{
    margin-left: 463px;
    margin-top: -82px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.follow2{
    margin-left: 500px;
    font-size: 25px;
    color: rgb(4, 71, 48);
}
.follow3{
    margin-left: 463px;
    margin-top: -28px;
    font-size: 25px;
    color: rgb(71, 4, 45);
}
.follow4{
    margin-left: 534px;
    margin-top: -30px;
    font-size: 25px;
    color: rgb(16, 3, 82);
}
.follow5{
    margin-left: 565px;
    margin-top: -30px;
    font-size: 25px;
    color: rgb(3, 1, 15);
}
.follow6{
    margin-left: 465px;
    margin-top: 28px;
    font-size: 25px;
    color: rgb(238, 169, 7);
}
.follow7{
    margin-left: 505px;
    margin-top: -47px;
    font-size: 22px;
    color: rgb(25, 25, 24);
}

.end{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 20px;
    background-color: rgb(249, 101, 150);
}
.foot{
    font-size: 15px;
    margin-top: -42px;
    margin-bottom: -27px;
    margin-left: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}